#cloud-config
package_update: true
packages:
  - curl
users:
  - name: cluster
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash

write_files:
  - path: /etc/rancher/k3s/config.yaml
    owner: root:root
    permissions: "0644"
    content: |
      node-ip: 10.0.1.1
      advertise-address: 10.0.1.1
      tls-san:
        - 10.0.1.1
        - 127.0.0.1
        - $(curl -s http://checkip.amazonaws.com)
      kubelet-arg:
        - cloud-provider=external
      disable:
        - traefik
        - cloud-controller

runcmd:
  - apt-get update -y
  - curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server --disable traefik --tls-san 10.0.1.1 --tls-san $(curl -s http://checkip.amazonaws.com) --disable-cloud-controller --kubelet-arg cloud-provider=external --config /etc/rancher/k3s/config.yaml" K3S_TOKEN=${k3s_token} sh -
  - chown cluster:cluster /etc/rancher/k3s/k3s.yaml
  - chown cluster:cluster /var/lib/rancher/k3s/server/node-token

