#cloud-config
package_update: true
packages:
  - curl

users:
  - name: cluster
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash

runcmd:
  - apt-get update -y
  
  # Wait for the master node's K3s API to be reachable
  - until curl -k https://10.0.1.1:6443; do sleep 5; done
  
  # Install k3s worker
  - curl -sfL https://get.k3s.io | K3S_URL=https://10.0.1.1:6443 K3S_TOKEN=${k3s_token} INSTALL_K3S_EXEC="agent --kubelet-arg cloud-provider=external" sh -